$letterSpacing: 6px;

.root {
    padding: 10px 0 100px 0;
    background: rgb(168, 168, 173);
}
.logo {
    height: 100px;
    background: url(../../public/logo.png) center /60px no-repeat;
}
.linkBoxesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
.linkBox {
    width: 300px;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0px 30px 20px 30px;
    padding: 30px 50px 10px 50px;
    font-size: 14px;
}
.linkBoxTitle {
    margin: 0 0 90px 0;
    letter-spacing: $letterSpacing;
    color: rgb(240, 240, 240);
}
.linkBoxItem {
    &:link, &:visited {
        text-decoration: none;
        color: rgb(230, 230, 230);
    }
    &:hover {
        color: rgb(255, 255, 255);
        transform: translate3D(3px, 0, 0);
    }

    display: block;
    margin: 20px 0;
    letter-spacing: $letterSpacing;
    transition: all .2s ease-in-out
}