.flag-comp {
    width: 16px;
    height: 11px;
    display: inline-block;
    background:url(../../resources/flags.png) no-repeat;

    &.fr {
        background-position: -16px 0;
    }
    &.us {
        background-position: 0 -11px;
    }

}
