$navbarHeight: 50px;

.header-comp {
    .menu {
        position: fixed;
        z-index: 2000;
        display: flex;
        background-image: linear-gradient(to bottom, rgb(243, 243, 243), rgb(226, 226, 226));
        border-bottom: 1px solid #c8c8c8;
        height: $navbarHeight;
        top: 0;
        left: 0;
        right: 0;

        .left-section {
            flex: 0 0 auto;
            height: 100%;
            // margin-left: 20px;
            display: flex;
            align-items: center;
        }

        .middle-section {
            flex: 1 1 auto;
            height: 100%;
        }

        .right-section {
            flex: 0 0 auto;
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 20px;
        }


        .logo {
            display: block;
            width: 120px;
            height: 90%;
            background: url(../../resources/new-logo.png) center/200px no-repeat;
            background-size: contain;
            border-right: 1px solid #c8c8c8;
            padding: 8px;
            box-sizing: border-box;
        }

        .account-button-comp {
            button, button:focus, button:active {
                outline: none;
            }
            .icon {
                font-size: 0.9em;
                margin-right: 5px;
            }
        }
        .language-button-comp {
            &, &:focus, &:hover, &:active {
                background: none;
                outline: none;
                border: 0;
            }
        }


    }
}
