.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.modal-content {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 700px;
    // height: 400px;
    transform: translate3D(-50%, 0, 0);
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;

    overflow: visible;
    outline: none;
    -webkit-overflow-scrolling: touch;
    z-index: 600;


    .close-button {
        position: absolute;
        display: block;
        right: 5px;
        top: 5px;
        padding: 10px;
        cursor: pointer;
        color: rgb(160, 160, 160);
        font-size: 20px;
    }

    .title h2 {
        letter-spacing: 4px;
        font-weight: 100;
        padding: 0 40px;
    }

    .hor-separator {
        height: 1px;
        border-top: 1px solid rgb(218, 218, 218);
    }
}
