.signed-in-page-comp {
    .header {
        .menu-toggle {
            width: 65px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 20px;
            border-right: 1px solid #c8c8c8;
            transition: all 0.2s ease-in-out;

            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }

            &.open {
                background: rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            }
        }

        .bot-selector-fetching {
            padding: 0 40px;
            color: #888;
        }

        .bot-selector-new-bot {
            color: #666;
            padding: 0 40px;
            height: 100%;
            border: 0;
            background-color: rgba(0,0,0,0.03);
            &:hover {
                background-color: #dbdbdb;
            }
            &:focus {
                outline: none;
                background-color: #dbdbdb;
            }
        }

        .bot-selector-dropdown {
            height: 100%;
            button {
                padding: 0 40px;
                height: 100%;
                border-radius: 0;
                border: 0;
                background-color: transparent;
                &:hover {
                    background-color: #dbdbdb;
                }
                .caret {
                    margin-left: 10px;
                }
            }
        }
    }

    .signed-in-page-content {
        margin-left: 10px;

        &.side-menu-open {
            margin-left: 220px;
        }

        // &.home {
        //     margin-left: 0;
        //     &.sideMenuOpen {
        //         margin-left: 0;
        //     }
        // }
    }
    .please-sign-in {
        top: 30%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: #aaa;
        letter-spacing: 10px;
    }
}
