.public-test-page-comp {
    .content {
        padding: 80px 0;
        max-width: 800px;
        margin: 0 auto;

        .test-page-comp {
            padding: 0;
        }

        .wait {
            text-align: center;
            font-size: 40px;
        }
    }
}

.test-page-comp {
    padding-top: 60px;
    padding-left: 50px;

    iframe, .chatBotContainer {
        width: 100%;
        height: 600px;
    }

}
