.public-test-page-comp {
    height: 100vh;
    display: flex;

    .content {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        height: 100%;

        > .chat-bot-wrapper {
            height: calc(100% - 30px);
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 32px;
                img {
                    width: 70px;
                    border-radius: 50%;
                    border: 2px solid #c8c8c8;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .wait {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
        }

        .test-page-comp {
            height: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;

            .chatBotContainer {
                .chatBot {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;

                    .messages-comp {
                        flex: 1 1 auto;
                    }
                }
            }
        }
    }
}

.test-page-comp {
    height: 100vh;
    padding-top: 80px;
    padding-left: 55px;

    iframe,
    .chatBotContainer {
        width: 100%;
        flex: 1 1 auto;
        border: none;
    }
    .chatBotContainer {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    iframe {
        display: block;
        height: calc(100% - 30px);
    }
    .wait {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
}
