.root {
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -100;
    overflow: hidden;

    .backgroundVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
    }
}

.searchContainer {
    position: absolute;
    width: 100%;
    left: 0;
    height: 40px;
    top: 55vh;
    display: flex;
    justify-content: center;
}
.searchContainer > div {
    width: 700px;
}

.scrollDownContainer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}
.scrollDownLabel {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}
.scrollDownArrow {
    margin: 20px 0 0 0;
    height: 30px;
    background: url(../../public/arrow-down-white.png) center /60px 30px no-repeat;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        background-size: 70px 30px;
        transform: translate3D(0, 5px, 0);
    }
}
