option_settings:
    aws:autoscaling:launchconfiguration:
        InstanceType: t2.small
    aws:elbv2:listener:443:
        DefaultProcess: https
        ListenerEnabled: 'true'
        Protocol: HTTPS
        SSLCertificateArns: arn:aws:acm:eu-west-1:517510819783:certificate/abc618b7-16c6-4929-ae07-b7b03a86e885
    aws:elasticbeanstalk:environment:process:https:
        Port: '443'
        Protocol: HTTPS
    aws:elasticbeanstalk:container:nodejs:staticfiles:
        /.well-known: /.well-known
    aws:elasticbeanstalk:container:nodejs:
        NodeVersion: 6.2.2
packages:
    yum:
        GraphicsMagick: []
