option_settings:
    aws:autoscaling:launchconfiguration:
        InstanceType: t2.small
    aws:elasticbeanstalk:application:environment:
        TEST_VAR: yeah
    aws:elasticbeanstalk:container:nodejs:staticfiles:
        /.well-known: /.well-known
    aws:elasticbeanstalk:container:nodejs:
        NodeVersion: 6.2.2
packages:
    yum:
        GraphicsMagick: []
