option_settings:
    aws:autoscaling:launchconfiguration:
        InstanceType: t2.small
    aws:elbv2:listener:443:
        DefaultProcess: https
        ListenerEnabled: 'true'
        Protocol: HTTPS
        SSLCertificateArns: arn:aws:acm:eu-west-1:517510819783:certificate/91c6e93d-1edb-4643-9774-f0f36cf0dd53
    aws:elasticbeanstalk:environment:process:https:
        Port: '443'
        Protocol: HTTPS
    aws:elasticbeanstalk:container:nodejs:staticfiles:
        /.well-known: /.well-known
    aws:elasticbeanstalk:container:nodejs:
        NodeVersion: 6.2.2
packages:
    yum:
        GraphicsMagick: []
container_commands:
  enable_websockets:
    command: |
      sed -i '/\s*proxy_set_header\s*Connection/c \
              proxy_set_header Upgrade $http_upgrade;\
              proxy_set_header Connection "upgrade";\
              ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf

