container_commands:
  00-npm-install:
       "env": {
        "HOME": "/root",
        "PATH": "/usr/bin:/usr/lib/node_modules:/sbin:/bin:/usr/sbin:/opt/aws/bin"
      },
      "command": "npm install"
  10-npm-run-build-client:
       "env": {
        "HOME": "/root",
        "PATH": "/usr/bin:/usr/lib/node_modules:/sbin:/bin:/usr/sbin:/opt/aws/bin"
      },
      "command": "NODE_ENV=production npm run build-client"  
  20-npm-run-build-client:
       "env": {
        "HOME": "/root",
        "PATH": "/usr/bin:/usr/lib/node_modules:/sbin:/bin:/usr/sbin:/opt/aws/bin"
      },
      "command": "NODE_ENV=production npm start"