.root {
    padding: 20px 0 0 0;

    .error {
        color: rgb(255, 124, 124);
        text-align: center;
        margin: 20px 0;
    }
    .success {
        color: #00be00;
        text-align: center;
        margin: 20px 0;
    }
    .inputContainer {
        position: relative;

        .input {
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding: 0 10px;
            border: 1px solid rgb(218, 218, 218);
            background: #fff;
            transition: all 0.2s ease-in-out;
            outline: none;
            &:focus, &:hover {
                border: 1px solid rgb(166, 202, 241);
                outline: none;
            }
        }
        .icon {
            display: block;
            position: absolute;
            right: 10px;
            top: 0;
            height: 32px;
            line-height: 32px;
            color: rgb(128, 128, 128);
        }
        .verSeparator {
            position: absolute;
            right: 32px;
            top: 5px;
            bottom: 5px;
            width: 1px;
            border-left: 1px solid rgb(218, 218, 218);
        }
    }

    .textArea {
        width: 100%;
        min-height: 300px;
        line-height: 25px;
        padding: 10px 15px;
        border: 1px solid rgb(218, 218, 218);
        background: #fff;
        transition: all 0.2s ease-in-out;
        outline: none;
        &:focus, &:hover {
            border: 1px solid rgb(166, 202, 241);
            outline: none;
        }
    }

    .buttonArea {
        padding: 20px 10px 10px 10px;
        border-top: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        text-align: right;

    }

    .button {
        margin: 0 5px;
        padding: 10px 20px;
        min-width: 100px;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
        border-radius: 2px;
        white-space: nowrap;
        cursor: pointer;
        outline: none;

        transition: all 0.1s ease-in-out;

        &:hover {
            background: rgb(230, 230, 230);
            background-color: #e6e6e6;
            border-color: #adadad;
        }
        &:focus {
            outline: none;
        }
        &:active {
            background: rgb(230, 230, 230);
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            transform: translate3d(1px, 1px, 0);
        }

        &.submit {
            color: #fff;
            background-color: #3276b1;
            border-color: #2c699d;
            &:hover {
                background-color: #275b89;
                border-color: #1f496d;
            }
            &:active {
                background-color: #1f496d;
                border-color: #10263a;
            }
        }
    }
}
