$navbarHeight: 50px;

.root {
    .menu {
        position: fixed;
        z-index: 2000;
        display: flex;
        background-image: linear-gradient(to bottom, rgb(243, 243, 243), rgb(226, 226, 226));
        border-bottom: 1px solid #c8c8c8;
        height: $navbarHeight;
        top: 0;
        left: 0;
        right: 0;

        .leftSection {
            flex: 0 0 auto;
            height: 100%;
            // margin-left: 20px;
            display: flex;
            align-items: center;
        }

        .middleSection {
            flex: 1 1 auto;
            height: 100%;
        }

        .rightSection {
            flex: 0 0 auto;
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 20px;
        }


        .logo {
            display: block;
            width: 250px;
            height: 100%;
            background: url(../../public/logo-and-title-black.png) center/200px no-repeat;
            border-right: 1px solid #c8c8c8;
            padding: 0 20px;
            margin: 0 0 5px 0;
        }

    }
}
