// .root {
//     .message {
//         margin: 20px 0;
//         padding: 20px;
//
//         background: #888;
//         color: #eee;
//
//         .image {
//             max-width: 500px;
//             max-height: 500px;
//         }
//     }
// }

.root {
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px;
    background: #f7f7f7;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    .wait {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: #aaa;
        letter-spacing: 10px;
    }

    .noConversationsFound, .selectConversation {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #aaa;
        letter-spacing: 10px;
        width: 100%;
        text-align: center;
    }

    .message {
        flex: 0 0 auto;
        display: flex;
        position: relative;
        padding: 10px 5px;

        .profilePic {
            flex: 0 0 auto;
            width: 32px;
            height: 32px;
            background-position: center;
            background-size: cover;
        }

        .nameAndContent {
            flex: 1 0 0;

            .name {
                font-size: 14px;
                font-weight: bold;
                margin: 0 0 0 10px;
                color: #365899;
            }
            .text {
                font-size: 13px;
                margin: 5px 20px 0 10px;
                line-height: 1.5;
            }
            .images {
                .image {
                    margin: 0 0 0 10px;
                    border: 1px solid #cacaca;
                    max-width: 500px;
                    max-height: 300px;
                }
            }
            .quickRepliesRoot {
                display: flex;
                justify-content: center;

                .simpleQuickReplies {
                    display: flex;
                    justify-content: center;
                    padding: 5px 0;

                    .simpleQuickReply {
                        border: 1px solid #b9b9b9;
                        padding: 5px 10px;
                        border-radius: 20px;
                        color: #0084ff;
                        font-size: 13px;
                        margin: 0px 5px;
                    }
                }
                .richQuickReplies {
                    display: flex;
                    overflow-x: scroll;
                    max-width: 50vw;
                    border: 1px solid #b9b9b9;
                    border-radius: 10px;
                    margin: 10px 0;

                    .richQuickReply {
                        display: flex;
                        flex-direction: column;

                        &:not(:last-child) {
                            margin: 0 10px 0 0;
                        }
                        .image {
                            flex: 0 0 auto;
                            max-width: 300px;
                        }
                        .title {
                            flex: 0 0 auto;
                            font-size: 14px;
                            font-weight: bold;
                            margin: 5px 10px;
                        }
                        .subtitle {
                            flex: 1 0;
                            font-size: 14px;
                            margin: 0 10px;
                            color: #888;
                        }
                        .button {
                            flex: 0 0 auto;
                            text-align: center;
                            margin: 10px;
                            padding: 5px;
                            color: #365899;
                            font-weight: bold;
                            font-size: 14px;
                            border: 1px solid #ddd;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .date {
            position: absolute;
            right: 20px;
            top: 5px;
            font-size: 14px;
            color: #c3c3c3;

        }

    }
}
