
.imagesAndControlContainer {
    min-height: 800px;
    padding: 80px 50px 30px 50px;

    & .title {
        font-size: 20px;
        color: rgb(70, 70, 70);
        letter-spacing: 5px
    }

    & .statusAndControlContainer {
        padding: 30px 20px;

        & .hitCount {

        }

        & .photographerCount {
            margin-left: 5px;
        }
    }

    & .noResults {
        font-size: 45px;
        text-align: center;
        margin: 100px 0;
        color: rgb(100, 100, 100);
    }

    & .searchingIndicator {
        font-size: 45px;
        text-align: center;
        margin: 100px 0;
        color: rgb(150, 150, 150);
    }

    & .imageCell {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }


    & .imageCountOverlay {
        font-size: 0.8em;
        color: rgb(220, 220, 220);
        margin-left: 10px;
    }

}
