
.imagesAndControlContainer {
    min-height: 800px;
    padding: 80px 50px 30px 50px;

    & .title {
        font-size: 20px;
        color: rgb(70, 70, 70);
        letter-spacing: 5px
    }

    & .statusAndControlContainer {
        position: relative;
        padding: 30px 20px;

        & .hitCount {

        }

        & .photographerCount {
            margin-left: 5px;
        }

        & .filters {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);

            & .filterPhotographer {
                position: relative;
                margin: 0 20px;
                padding: 5px;
            }
            & .removeFilter {
                position: absolute;
                right: 30px;
                top: 5px;
                bottom: 5px;
                width: 15px;
                background: url(../../public/cross-black.png) center /contain no-repeat;
                cursor: pointer;
            }
        }
    }

    & .noResults {
        font-size: 45px;
        text-align: center;
        margin: 100px 0;
        color: rgb(100, 100, 100);
    }

    & .searchingIndicator {
        font-size: 45px;
        text-align: center;
        margin: 100px 0;
        color: rgb(150, 150, 150);
    }

    & .imageCell {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    & .imageCountOverlay {
        font-size: 0.8em;
        color: rgb(220, 220, 220);
        margin-left: 10px;
    }

}
