.root {
    background: linear-gradient(to right,rgb(58, 54, 51) 93%,rgb(42, 39, 37) 100%);
    padding: 10px 0;

    &.transparent {
        background: linear-gradient(to right,rgba(58, 54, 51, 0.9) 93%,rgba(42, 39, 37, 0.9) 100%);
    }
}

$menuItemParentHeight: 36px;
$menuItemChildHeight: 36px;
$menuItemChildrenVerPadding: 7px;

.menuItemContainer {
    .menuIcon {
        margin-right: 5px;
    }

    .menuItemParent {

        &.active a {
            color: #fff;
        }

        a {
            display: block;
            height: $menuItemParentHeight;
            line-height: $menuItemParentHeight;
            font-size: 14px;
            padding: 0px 10px 0px 11px;
            color: #c0bbb7;
            font-weight: 400;
            text-decoration: none;
            position: relative;

            &:hover {
                color: #fff;
            }

            .fold {
                display: block;
                position: absolute;
                right: 20px;
                top: 0;
                bottom: 0;
                line-height: $menuItemParentHeight;
            }
        }
    }

    .menuItemChildren {
        position: relative;
        overflow-y: hidden;
        max-height: 0;
        background: rgba(69,69,69,.6);
        transition: all 0.2s ease-in-out;
        padding: 0;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 25px;
            top: 0;
            bottom: 0;
            width: 8px;
            border-left: 1px solid #7A7A7A;
            z-index: 1;
        }

        &.open {
            padding: $menuItemChildrenVerPadding 0;

            @for $i from 1 through 20 {
                &.has-#{$i}-children {
                    max-height: $menuItemChildHeight * ($i + 1) + 2 * $menuItemChildrenVerPadding;
                }
            }
        }

        .menuItemChild {
            position: relative;
            height: $menuItemChildHeight;

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 25px;
                top: 50%;
                width: 8px;
                border-top: 1px solid #7A7A7A;
            }

            &.active a {
                background: #616161;
                color: #fff;
                &:before {
                    content: "\e8a6";
                    font-family: "fontello";
                    display: block;
                    line-height: $menuItemChildHeight;
                    position: absolute;
                    right: -1px;
                    color: #eee;
                    top: 0;
                    bottom: 0;
                    letter-spacing: 0;
                    font-size: 20px;
                }
            }

            a {
                display: block;
                padding-left: 40px;
                line-height: $menuItemChildHeight;
                text-decoration: none;
                color: #c0bbb7;
                font-size: 14px;

                &:hover {
                    background-color: rgba(69,69,69,.8);
                    color: #fff;
                }
                &:active {
                    background: #616161;
                    color: #fff;
                }
            }
        }

    }

}
