
.fieldAndButton {
    width: 45%; 
}

.field {
    @extend .fieldAndButton;
    margin: 10px 0;
    flex: 0 0 auto;
}

.inputsRow1 {
    display: flex;
    justify-content: space-between;
}

.inputsRow2 {
    display: flex;
    justify-content: space-between;
}

.signupButton {
    @extend .fieldAndButton;
    margin: 50px 0 0 0;
}
