
.fieldAndButton {
    width: 45%; 
}

.field {
    @extend .fieldAndButton;
    margin: 10px 0;
    flex: 0 0 auto;
}

.inputsRow {
    display: flex;
    justify-content: space-between;
}

.signinButton {
    @extend .fieldAndButton;
    margin: 120px 0 0 0;
}
