$itemColor: rgb(240, 240, 240);
$itemLetterSpacing: 6px;
$itemFontSize: 13px;


@media(max-width: 1300px) {
    .root {
        padding: 0 20px;
    }
}

@media(max-width: 1300px) {
    .menuItem {
        font-size: 11px;
        letter-spacing: 4px;
    }

    :global {
        .Header-LangDropdown {
            &-placeholder {
                font-size: 11px;
                letter-spacing: 4px;
            }
        }
    }
}
@media(max-width: 900px) {
    .menuItem {
        font-size: 9px;
        letter-spacing: 2px;
    }
    :global {
        .Header-LangDropdown {
            &-placeholder {
                font-size: 9px;
                letter-spacing: 2px;
            }
        }
    }
}

.root {
    /* margin: 20px 0 0 0; */
    display: flex;
    align-items: center;
    color: white;
    padding: 0 100px;
}

.leftMenu {
    flex: 1 0 0;

    display: flex;
    justify-content: flex-start;
}

.logo {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    background: url(../../public/logo.png) center /60px no-repeat;
}

.rightMenu {
    flex: 1 0 0;

    display: flex;
    justify-content: flex-end;
}

.menuItem {
    &:link, &:visited {
        text-decoration: none;
    }
    &:hover {
        transform: translate3D(0, -2px, 0);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: rgb(255, 255, 255);
    }

    font-size: $itemFontSize;
    color: $itemColor;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    display: block;
    height: 25px;
    margin: 0 14px;
    padding: 0 0 5px 0;
    letter-spacing: $itemLetterSpacing;
    transition: all .2s ease-in-out;

}

